@import "tailwindcss";

:root {
  font-family: "Space Grotesk";
}
input {
  border: none;
  overflow: auto;
  outline: none;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: vertical;
}
